

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  padding: 0 5%;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  font-weight: 500;
}

nav .logo {
  width: 100px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.back-video {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  z-index: -1;
  border-radius: 4px;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}


.container {
  max-width: 500px;
  width: 100%;
  margin: 0;
  background: whitesmoke;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 35px;
  font-weight: 500;
  position: relative;
  margin-bottom: 15px;
  color: #660066;
}

.container form .user-details {
  display: row;
  flex-wrap: wrap;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #737373;
}

form .newsletter .newsletter-title {
  font-size: 25px;
  font-weight: 600;
}

form .newsletter .category {
  display: flex;
  width: 80%;
  margin: 10px 0;
  justify-content: space-between;
}

.newsletter .category label {
  display: flex;
  align-items: center;
}

.newsletter .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"]{
  display: none;
}

form .button {
  height: 35px;
  margin: 35px 0;
  width: 100%;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: #660066;
}

form .button:hover {
  background: #330033;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

@media (max-width: 584px) {
  .container{
    max-width: 100%;

  }
  form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;

  }
  form .newsletter .category {
  width: 100%;

  }
  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;

  }
  .user-details::-webkit-scrollbar {
    width: 0;

  }
}
